<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
		<!-- CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="bootstrap/css/main.css" rel="stylesheet"/>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 
  </style>

</head>
<body ng-app="showdown">

<div class="container" data-ng-controller="testCtrl">
  <div >
    	<!-- gallery of hwloc diagrams-->

			
    <div>
      <h2>This is your markdown code:</h2>
      <textarea id="txt" data-ng-model="mdText" rows="150" cols="50" ></textarea>
      
    </div>
    <br>
        <button ng-click ="cancel()" class="btn btn-primary">Cancel</button>
        <button ng-click="save()" class="btn btn-primary save">Save</button>
        <button ng-click="delete()" class="btn btn-primary">Delete</button>
      
   Count : {{count}}
    <div>
      <h2>This is what its going to look like:</h2>
      <div data-sd-model-to-html="mdText"></div>
    </div>
  </div>
</div>





<script src="lib/showdown.js"></script>
<script src="lib/ng-showdown.js"></script>

<script>
  var test = angular.module('showdown', ['Showdown']);

  test.controller('testCtrl', ['$scope', '$http', function ($scope, $http) {
   
  

    $http.get('doc/test.md').then(
            function (data) {
              $scope.mdText = data.data;
            },
            function (error) {
              console.log(error);
            }
    );
 
 $scope.count = 0;
 
  $scope.cancel = function(){
    $scope.count += 1;
  }
 
 
    
    $scope.save = function (){
    
     
      $scope.count -= 1;
     
    };
  }]);
</script>


</body>
</html>