<!doctype html>
<html ng-controller="MainController"  ng-app = "cluster">
	<!--main controller starts here-->
	<head>
		
		<meta charset="utf-8" />
		<!-- CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="bootstrap/css/main.css" rel="stylesheet"/>
		<!-- AngularJS library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<!--AngularJS routing library -->
    	<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		  
		<title>{{menu.title}}</title>
		<link href={{menu.img}} type="image/x-icon" rel="shortcut icon">
		<link href={{menu.img}} type="image/x-icon" rel="icon">
		
  	</head>
	<!--app cluster starts here-->
	<body>
		
		<div class="main container" >
			
			<section >
			<!--top navigation menu-->
			<nav class="navbar navbar-fixed-top navbar">
			  <div class="container">
			    <ul class="nav navbar-nav" >
			    	<!--title of website-->
  					<li>
  					<h1 id ="title">{{menu.title}}</h1>
					</li>	
			      	<!--menu items-->
					<li ng-repeat="item in menu.menuItems">
						<a class="nav-link" href={{item.link}}>{{item.name}}</a>
					</li>
			    </ul>
			  </div>
			</nav>
			</section>
			
			<!-- Cluster Status -->
			<section>
				<span id={{menu.menuItems[0].id}} ></span>
				<h2>{{currStatus.title}}</h2>
				<ul class = "info">
					<a href="{{currStatus.URL}}">{{currStatus.description}}</a>
				</ul>
			</section>
		
			<!--Architecture-->
			<section >
				<span id={{menu.menuItems[1].id}} ></span>
				<h2>{{arch.title}}</h2>
				<ul class = "info">
					{{arch.description}}
					<li ng-repeat="(key, value) in arch.specifications">
						{{key}} {{value}}
				   	</li>
				</ul>
			    <!-- gallery of hwloc diagrams-->
				<div ng-view id ="hwloc">
				</div>
			</section>
			
			<!-- Getting an Account-->
			<section>
				<span id={{menu.menuItems[2].id}} ></span>
				<h2>{{actInfo.title}}</h2>
				<ul class = "info">
					{{actInfo.description}}
					<h3>{{actInfo.sections[0].subtitle}}</h3>
					{{actInfo.sections[0].description}}
					<li ng-repeat="value in  actInfo.sections[0].request_info">
						{{value}}
				   	</li>
				   	<h3>{{actInfo.sections[1].subtitle}}</h3>	
				   	{{actInfo.sections[1].description}} <br>
				   	<a href={{actInfo.sections[1].display_file[1]}}>{{actInfo.sections[1].display_file[0]}}</a>
				</ul>
			</section>
			
			<!--Running a Job-->	
			<section>
				<span id={{menu.menuItems[3].id}}></span>
				<h2>{{runJob.title}}</h2>
				<ul class = "info">
					{{runJob.description}}
					<h3>{{runJob.sections[0].subtitle}}</h3>
						<li ng-repeat="value in  runJob.sections[0].description">
							{{value}}
				   		</li>
				   		<a href={{runJob.sections[0].display_file[1]}}>{{runJob.sections[0].display_file[0]}}</a>
				   		<h3>{{runJob.sections[1].subtitle}}</h3>
				   		{{runJob.sections[1].description}}<br>
				   	 	<h4>{{runJob.sections[1].commands.sinfo.info}}</h4>
				   	 	<div class = "code">{{runJob.sections[1].commands.sinfo.code}}</div>
				   	 	<h4>{{runJob.sections[1].commands.squeue.info}}</h4>
				   	 	<div class = "code">{{runJob.sections[1].commands.squeue.code}}</div>
				   	 	<h4>{{runJob.sections[1].commands.sbatch.info}}</h4>
				   	 	<div class = "code">{{runJob.sections[1].commands.sbatch.code}}</div>
				   	 	<h4>{{runJob.sections[1].commands.salloc.info}}</h4>
				   	 	<div class = "code" ng-repeat ="c in runJob.sections[1].commands.salloc.code">
				   	 		{{c}}
				   	 	</div>
				   	 	<h4>{{runJob.sections[1].commands.srun.info}}</h4>
				   	 	<div class = "code" ng-repeat ="co in runJob.sections[1].commands.srun.code">
				   	 		{{co}}
				   	 	</div>
						<h4>{{runJob.sections[1].commands.scancel.info}}</h4>
				   	 	<div class = "code">{{runJob.sections[1].commands.scancel.code}}</div>
				   		
				</ul>
			</section>
			
			<!--Resources-->	
			<section>
				<span id={{menu.menuItems[5].id}}></span>
				<h2>{{resources.title}}</h2>
				<ul class = "info">
					{{resources.description}} 
					<li ng-repeat="(key, value) in resources.links">
						{{key}}  
						<a target ="_blank" href = {{value}}>{{value}}</a>
				   	</li>
				</ul>
			</section>
			
			<!--Footer-->
			<nav class="navbar navbar-fixed-bottom" id="footer">
	  			<ul class="container" >
	  				<!--Footer Items-->
	    			<li id="leftFoot">
					 <a href={{footer.organization.link}}><img id ="logo" src="{{footer.organization.logo}} " height="44" width="114"/><a/>
					 <li/>
					 <li id="leftFoot">
					 <a href={{footer.organization.link}}>{{footer.organization.name}}<a/><br/>
					 <a href={{footer.department.link}}>{{footer.department.name}}</a>
					</li>
					<li>
					  <a href ={{menu.menuItems[0].link}} id="backToTop" class="btn btn-outline-secondary" role="button"> {{footer.topButton}}</a>
					</li>
					 <li id = "rightFoot">
						<div ng-repeat="value in  footer.support">
								{{value}}
						</div>
					</li>
	  			</ul>
			</nav>
		
		</div>
	
	<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/diagramController.js"></script>
    
    <!-- Services -->
    <script src="js/services/serveMenu.js"></script>
	<script src="js/services/serveArchitecture.js"></script>
	<script src="js/services/serveStatus.js"></script>
	<script src="js/services/serveAccountInfo.js"></script>
	<script src="js/services/serveRunJob.js"></script>
	<script src="js/services/serveFooter.js"></script>
	<script src="js/services/serveResources.js"></script>
    
    <!-- Jquery -->
    <script src="js/simple.js"></script>
   
	</body>
	<!--main controller end-->
</html>