<!doctype html>
<html>
	<head>
		
		<meta charset="utf-8" />
		<!-- CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="bootstrap/css/main.css" rel="stylesheet"/>
		<!-- AngularJS library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<!--AngularJS routing library -->
    	<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		  
		<title>Flux Cluster</title>
		<link href="img/fav_icon.png" type="image/x-icon" rel="shortcut icon">
		<link href="img/fav_icon.png" type="image/x-icon" rel="icon">
		
  	</head>
	<!--app cluster starts here-->
	<body ng-app = "cluster" >
		<!--main controller starts here-->
		<div class="main container " ng-controller="MainController" >
			
			<section >
			<!--top navigation menu-->
			<nav class="navbar navbar-fixed-top navbar">
			  <div class="container">
			    <ul class="nav navbar-nav"  id = "topMenu">
			    	<!--title of website-->
  					<li>
  					<h1 id ="title">{{menu.title}}</h1>
					</li>	
			      	<!--menu items-->
					<li ng-repeat="item in menu.menuItems">
						<a class="nav-link" href={{item.link}} >{{item.name}}</a>
					</li>
			    </ul>
			  </div>
			</nav>
			</section>
			
			<!-- Cluster Status -->
			<section id="status">
				<h2>{{currStatus.title}}</h2>
				<ul>
					<a href="{{currStatus.URL}}"><h4>{{currStatus.description}}</h4></a>
				</ul>
			</section>
		
		
			<!--Architecture info -->
			<section>
				<h2>{{arch.title}}</h2>
				<ul>
					<li ng-repeat="item in arch.architecture">
				   		{{item}}
				   	</li>
				</ul>
			    <!-- gallery of hwloc diagrams-->
				<div ng-view id ="hwloc">
				</div>
			</section>
			
				
			
			
			
			<!--slurm usage info-->
			<section>
				<h2>Slurm Usage Information:</h2>
				<ol type="I">
					<!--Readme and sample basic code-->	
					<li>
						<a href="doc/slurm_readme.txt">README</a>
					</li>
					<li>
						<a href = "sample/basic.sh">Basic (Click here to Download)</a><br/>
						<div class="code">{{fileBasic}}</div>
						<span id="mpi"/>
					</li>
				</ol>
				<!--Some links-->
				Below are some useful links to help you get started with Slurm:
				<ol type="I">
					<li>
						<a href="http://slurm.schedmd.com/slurm.html">Slurm project page</a>
					</li>
					<li >
						<a href="http://slurm.schedmd.com/tutorials.html">Slurm Tutorials</a>
					</li>
				</ol>
			</section>	
		
			<!--MPI usage info-->
			<section>
				<h2>MPI Usage Information:</h2>
				<ol type="I">
					<!--MPI file items and hello world sample code -->
					<li>
						<a href="doc/mpi_readme.txt">README</a>
					</li>
					<li>
						<a href="doc/mpi_hello.c">hello.c</a>
					</li>
					<li>
						<a href="doc/mpi_ring.c">ring.c</a>
					</li>
					<li>
						<a href="doc/mpi_makefile">Makefile</a>
					</li>
					<li>
						<a href = "sample/submit-run.sh">Hello World (Click here to Download)</a><br/>
						<div class="code">{{fileSubmitRun}}</div>
					</li>
				</ol>
				<!--Some links-->
				Below are some useful links to help you get started with MPI:
				<ol type="I">
					<li>
						<a href="http://mpitutorial.com/tutorials/mpi-hello-world/">MPI Tutorial</a>
					</li>
					<li>
						<a href="https://computing.llnl.gov/tutorials/mpi/">LLNL MPI Tutorial</a>
					</li>
					<li>
						<a href="http://www.open-mpi.org/">Open MPI project page</a>
					</li>
					<li>
						<a href="http://www.open-mpi.org/faq/">Open MPI FAQs</a>
						(This is about as close to Documentation as the project currently has)
					</li>
				</ol>
			</section>
	
			<!--OpenMp usage info-->
			<section  id="openmp">	
				<h2>OpenMP Usage Information:</h2>
				<!--OpenMp files-->
				<ol type="I">
					<li>
						<a href="doc/openmp_readme.txt">README</a>
					</li>
					<li>
						<a href="doc/omp_hello.c">omp_hello.c</a>
					</li>
					<li>
						<a href="doc/mpi_omp_hello.c">mpi_omp_hello.c</a>
					</li>
					<li>
						<a href="doc/openmp_makefile">Makefile</a>
					</li>
				</ol>
				<!--Some links-->
				Below are some useful links to help you get started with MPI:
				<ol type="I">
					<li>
						<a href="https://computing.llnl.gov/tutorials/openMP/">LLNL OpenMP Tutorial</a>
					</li>
					<li>
						<a href="http://openmp.org/wp/">OpenMP project page</a>
					</li>
				</ol>
			</section>	
			
			
			<!--Footer navigation menu-->
			<nav class="navbar navbar-fixed-bottom" id="footer">
	  			<ul class="container" >
	  				<!--Footer Items-->
	    			<li id="leftFoot">
					 <a href="http://www.uwlax.edu"  title="To UW Lax Website"><img id ="logo" src="img/logo_uwl.jpg" height="44" width="114"/><a/>
					 <li/>
					 <li id="leftFoot">
					 <a href="http://www.uwlax.edu" title="To UW Lax Website">UW La Crosse<a/><br/>
					 <a href="http://www.cs.uwlax.edu/" title="To UW Lax CS Website">Computer Science Department</a>
					</li>
					<li>
					  <a href ="#test/#status" id="backToTop" class="btn btn-outline-secondary" role="button"> Back To Top</a>
					</li>
					<li id = "rightFoot">
					  Contact: someOne@uwlax.edu
					</li>
	  			</ul>
			</nav>
	
		<!--main controller end-->
		</div>
	
	<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/diagramController.js"></script>
    
    <!-- Services -->
    <script src="js/services/serveBasic.js"></script>
    <script src="js/services/serveSubmitRun.js"></script>
    <script src="js/services/serveMenu.js"></script>
    <script src="js/services/serveDiagrams.js"></script>
	<script src="js/services/serveArch.js"></script>
	<script src="js/services/serveStatus.js"></script>
    
    <!-- Jquery -->
    <script src="js/simple.js"></script>
    
    
   
	</body>
</html>